#app {
  min-height: 100vh;
  margin:0px;
  padding:20px;
}
.light {
  background-color: #ffffff;
  columns: #000000;
}
.dark {
  body {
    background-color:rgb(51, 51, 51);
  }
  background-color: rgb(51, 51, 51);
  color:#ffffff;
}
.red {
  body {
    background-color:rgb(80, 9, 9);
  }
  background-color: rgb(80, 9, 9);
  color:#c26d6d;
}
.green {
  body {
    background-color:rgb(22, 82, 14);
  }
  background-color: rgb(22, 82, 14);
  color:#4a9266;
}
.purple {
  body {
    background-color:rgb(47, 16, 105);
  }
  background-color: rgb(47, 16, 105);
  color:#967cc7;
}
